footer {
	background: $lila;
	font-family: $body;
	color: $violet;
	font-size: 1.5em;
	padding-bottom: 5%;
	text-align: center;
	.container {
		padding: 2% 0%;
		background: white;
		img {
		width: 7%;
		text-align: center;
		margin: 1% 46.5% 3%;
		}
	}
	.conp {
		margin-bottom: 3%;
		p {
			&:hover{
				text-decoration: underline;
			}	
		}
		.cel {
			padding-left: 25%;
		}
		.correo {
			padding-right: 20%;
		}
	}
	a {
		color: $violet;
		&:hover{
			color: $violet;
		}
		.fa {
		font-size: 40px;
		}
	}
}