footer#footer
	.container
		img(src="images/logo.png")
		.row.conp
			.col-md-6
				p.cel 985854454
			.col-md-6
				p.correo astridcordovar@gmail.com
		.row
			.col-md-4
				a(target="_blank" href="https://www.facebook.com/astrid.cordovarodriguez")
					p Facebook
					//- i.fa.fa-facebook-square
			.col-md-4
				a(target="_blank" href="https://www.linkedin.com/in/astridcordovar")
					p Linkedin
					//- i.fa.fa-linkedin-square
			.col-md-4
				a(target="_blank" href="https://github.com/AstridCordova")
					p GitHub
					//- i.fa.fa-github-square
					