footer
	.container
		img(src="images/logo.png")
		.row
			.col-md-6
				p 985854454
			.col-md-6
				p astridcordovar@gmail.com
		.row
			.col-md-4
				ul.demo-fb
					li
						figure
							p Facebok
							figcaption
								span.fa.fa-facebook-official
			.col-md-4
				p Linkedin
			.col-md-4
				p Git hub