head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	link(rel="icon" href="fav.png" type="favicon.ico")
	title ACCR
	link(href="assets/css/bootstrap.css" rel="stylesheet")
	link(href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css')
	link(href='https://fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css')
	link(rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css")
	link(href="assets/css/main.css" rel="stylesheet")
