section#about
	.container-fluid
		.row
			img(src="images/logo.png" class="logo")
			.col-md-6
				.foto
					img(src="images/yo.jpg")		
			.col-md-6
				.text
					h2 Un poco de 
						span Mí
					p  consectetur adipisicing elit. Nesciunt consectetur atque minima necessitatibus sint possimus quod tempora, eum eius architecto perferendis. Deleniti repellat fugiat, numquam, non obcaecati tempore dolore porro?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt consectetur atque minima necessitatibus sint possimus quod tempora, eum eius architecto perferendis. Deleniti repellat fugiat, numquam, non obcaecati tempore dolore porro
section#skills
	.container-fluid
		.row
			.col-md-3
				.title
					h2 Skills
			.col-md-9.container
				div(class="circle chart" data-percent="90")
					i.fa.fa-html5.html
					p HTML5
				div(class="circle chart" data-percent="90") 
					i.fa.fa-css3.css
					p CSS3
				div(class="circle chart" data-percent="90")
					//- bootstrap
					p BOOTSTRAP
				div(class="circle chart" data-percent="90")
					img(class="sass" src="images/sass.png")
					p SASS
				div(class="circle chart" data-percent="90")
					//- |jade
					p JADE
				div(class="circle chart" data-percent="20")
					//- |javascript
					p JAVASCRIPT
				div(class="circle chart" data-percent="20")
					//- |jquery
					p JQUERY
section#portfolio
	.container-fluid
		h2 Portafolio
		.row
			.col-md-4.col-left
				.port1
				.port2
				.port3
			.col-md-4.col-center
				.port1
				.port2
				.port3
			.col-md-4.col-right
				.port1
				.port2
				.port3